<div class="header">
  <picture>
    <source srcset="./pictures/background/background_xs.jpg" media="(max-width: 600px)">
    <source srcset="./pictures/background/background_sm.jpg" media="(min-width: 600px) and (max-width: 960px)">
    <source srcset="./pictures/background/background_md.jpg" media="(min-width: 960px) and (max-width: 1280px)">
    <source srcset="./pictures/background/background_lg.jpg" media="(min-width: 1280px) and (max-width: 1920px)">
    <source srcset="./pictures/background/background_xl.jpg" media="(min-width: 1920px)">
    <img src="./pictures/background/background_xs.jpg" class="banner">
  </picture>

  <div class="title" layout="column" layout-align="start center">
    <h1 class="md-display-2">My Geo Adventures</h1>
    <div class="spacer" layout="row" layout-align="center center">
      <div class="line" flex></div>
      <md-icon>explore</md-icon>
      <div class="line" flex></div>
    </div>
    <h3 class="md-headline">Geocaching and Coding brought together :)</h3>
  </div>
</div>

<div class="section" layout="column" layout-align="center center">
  {% include "home/me.html" %}
</div>

<div class="section alternate" layout="column" layout-align="center center">
  {% include "home/geoadventures.html" %}
</div>
