.brand {
    margin: 0 0.5em;
}

.main-toolbar {
    z-index: 100;
}

@media (min-width: 960px) {
    .main-toolbar .md-toolbar-tools {
        width: 70%;
    }
}

/*

.toolbar-menu.ng-hide {
    display: flex !important;
}

md-toolbar.md-accent .md-toolbar-tools {
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .titlecontainer {
        width: 100%;
    }
    .main-toolbar .md-toolbar-tools {
        flex-direction: column;
        height: auto;
        max-height: none;
        min-height: 56px;
    }
    .toolbar-menu.ng-hide {
        display: none !important;
    }
    .toolbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
}

*/
