h1,
h3 {
  text-align: center;
}

.material-icons {
  font-size: 96px;
  transform-origin: 30px 30px;
  animation-name: work;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes work {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}
